.footer {
  background-color: #111111;
  color: #999999;
  padding: 40px 0;
  a {
    color: #999999;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .title {
    color: #fff;
    display: inline-block;
    text-align: left;
    font-size: 2rem;
    &:after {
      content: "";
      display: block;
      height: 2px;
      width: 100px;
      background-color: #333;
      margin-top: 5px;
    }
  }
  ul {
    margin-bottom: 0;
    padding-left: 0;
    padding: 0 20px;
    list-style: none;
    li {
      display: block;
    }
  }
}

.copyright {
  background-color: #151515;
  color: #999999;
  padding: 20px 0;
}